@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
  animation: slideIn 0.4s forwards;
}

.nav-menu-exit {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
